/* Dark Mode for SSgt Glass*/
html{
    background-color: #333;
    /*background-color: #4d4d4d;*/
}

/* Creates main header styles*/
.pageHeader {
    /*margin: 30px;*/
    padding: 10px;
    /* background-color: #F1F1F1; */
    background-color: #333;
    font-weight: bold; 
    text-transform: uppercase;

    /*
        For more information on flex and styling, check out:
            https://codetheweb.blog/css-flexboxes/
    */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pageHeader h2{
    /* color: #3f4f8c; */
    color: #b3b3b3;
    margin: 0px;
}

#userProfile{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;          /*Allows the button to be flushed to the right*/
    flex-direction: column;

    color: #b3b3b3;
    text-transform: capitalize;
}

/* Floats loginLogout button to the right in main header*/
.logInLogOut {
    margin-top: 5px;
    padding: 3px;

    border: 1px solid #787878;
    background-color: transparent;
    color: #929292;

    text-transform: uppercase;
}
.logInLogOut:hover{
    font-weight: bold;
    
    color: green;
}

/* Centers main content */
.body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*
    ToDo: Figure out styling and how to display 
*/
.ToDo{
    color: transparent;
    background-color: transparent;
}