/* Dark Mode for SSgt Glass*/
html {
    background-color: #242424;
    /*background-color: #4d4d4d;*/
}
/* working around user agent stylesheet */
body {
    margin: 0px !important;
}

.pageBody {
    padding-top: 10px;

    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Creates main header styles*/
.pageHeader {
    /*margin: 30px;*/
    padding: 5px;

    /* background-color: #F1F1F1; */
    background-color: #1a1a1a;
    font-weight: bold; 
    text-transform: uppercase;

    border-bottom: 4px dotted #363636;

    /*
        For more information on flex and styling, check out:
            https://codetheweb.blog/css-flexboxes/
    */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pageHeader h2 {
    /* color: #3f4f8c; */
    color: #787878;
    margin: 4px;
}

/* User Profile icon with navigation dropdown menu*/
.profileContainer.Main {
    position: relative;
    padding-right: 5px;
}
.profileContainer.Main button {
    color: #787878;
    background-color: transparent;
    border: none;
}
.profileContainer.Main img {
    height:50px; 
    border-radius: 50%; 
    border: 2px solid #013e44;

    mix-blend-mode: overlay;
}

/* Dropdown is only visible when profileIcon is hovered over*/
.profileContainer.Main:hover .profileContainer.DropDown {
    display: flex;
}

/* What does the profileDropDown actually look like*/
.profileContainer.DropDown {
    min-width: 100%;
    right: 0;
    z-index: 99;
    border-radius: 5px;

    position: absolute;
    background-color: #1a1a1a;
    color: #787878;

    display: none;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}
.profileContainer.DropDown button:hover {
    color: #414141;

    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #013e44;
    text-underline-offset: 3px;
}
.profileContainer.DropDown button {
    background-color: transparent;
    border: none;
    font-weight: bold;
    color: #787878;
}
/* Display the information text differently and make it background complementary */
.contentContainer.Text {
    color: #414141;
}
.contentContainer {
    width: auto;
    min-width: 125px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;

    padding: 10px;
}
/* Fancy line breaker...IDK how else to do this */
.contentDivider{
    height: 1px;
    width: 100%;

    background-color: #787878;
}

/* Floats loginLogout button to the right in main header*/
#btnLogin {
    margin: 10px;
    padding: 3px;

    border: 1px solid #787878;

    background-color: transparent;
    color: #787878;
    text-transform: uppercase;
}
#btnLogin:hover {
    border: 1px solid #013e44;

    font-weight: bold;
    color: #013e44;
}
