/* Creates centered header */
.header {
    /*margin: 30px;*/
    padding: 10px;
    background-color: #F1F1F1;

    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

/* Floats loginLogout button to the right */
.logInLogOut {
    float: right;
}

/* Centers main content */
.body {
    text-align: center;
    margin: 25px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}