/*
    This styling sheet focus the display modals:
        Login/Logout/AddUser/EditUser/DeleteUser
*/

/*Title of Modal*/
.modalHeader {
    /*margin: 30px;*/
    padding: 10px;
    background-color: #F1F1F1;

    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.modalHeader h3{
    margin: 0px;
}

/*Handles the content of Modal*/
.modalBody{
    padding: 10px;

    text-align: left;
}
.modalBody p{
    text-align: center;
}
.modalBody h4{
    margin: 0px;
    padding-top: 3px;

    font-weight: unset;
}
.modalBody div{
    padding-top: 5px;
    padding-bottom: 5px;
}

/*Primary handles the button styling of Modal*/
.modalFooter{
    padding: 10px;

    text-align: center;
}
.modalFooter button, input[type=submit]{
    margin: 5px;
    display: inline-block;

    background-color: #3f4f8c;
    color: white;
}
.modalFooter button:hover, input[type=submit]:hover{
    font-weight: bold;

    background-color: white;
    color: #1c3599;
}