/*
    This styling sheet focus the display modals:
        Login/Logout/AddUser/EditUser/DeleteUser
*/

/*Title of Modal*/
.modalHeader {
    /*margin: 30px;*/
    padding: 10px;
    /* background-color: #F1F1F1; */
    background-color: #787878;
    /* color: #8b0000; */
    color: #11375c;

    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.modalHeader h3{
    margin: 0px;
}

/*Handles the content of Modal*/
.modalBody{
    /*To avoid modal auto styling*/
    min-height: 54px;

    padding: 10px;

    background-color: #b3b3b3;
    color: #11375c;

    text-align: left;
}
.modalBody p{
    text-align: center;
}
.modalBody h4{
    margin: 0px;
    padding-top: 3px;

    font-weight: unset;
}
.modalBody div{
    padding-top: 5px;
    padding-bottom: 5px;

    display: flex;
    justify-content:space-evenly;
    align-items: flex-start;
    flex-direction: column;
}
.errorMessage{
    color: red;
}

/*Primary handles the button styling of Modal*/
.modalFooter{
    padding: 10px;
    background-color: #b3b3b3;
    text-align: center;
}
.modalFooter button, input[type=submit]{
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;

    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;

    /* background-color: #F1F1F1; */
    background-color: #c5cadc;
    color: black;

    /*Removing User agent Stylesheet inserts*/
    border-style: none;
    border-color: transparent;
}
.modalFooter button:hover, input[type=submit]:hover{
    color: #8b0000;
}