/*
    This styling sheet focus the display modals:
        Login/Logout/AddUser/EditUser/DeleteUser
*/
/*Title of Modal*/
.modalHeader {
    /*margin: 30px;*/
    padding: 10px;
    /* background-color: #F1F1F1; */
    background-color: #787878;
    /* color: #8b0000; */
    color: #11375c;

    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.modalHeader h3 {
    margin: 0px;
}

/*Handles the content of Modal*/
.modalBody {
    /*To avoid modal auto styling*/
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 10px;

    min-height: 75px;
    overflow: auto;              /*Prevent blank space appear given child item's margins*/

    background-color: #b3b3b3;
    color: #11375c;

    text-align: left;
}
.modalBody fieldset {
    display: flex;
    justify-content:space-evenly;
    align-items: left;
    flex-direction: column;

    margin: 0;
    border: 0;
    padding: 0;
}

.inputTitle {
    font-weight: bold!important;
}
.modalBody h4 {
    margin: 0;
    padding-top: 5px;
    font-weight: normal;
}

.modalBody input {
    width: 75%;
    height: 23px;
    background-color: #c7c7c7;   
}
.userRole select, .userStatus select {
    width: 100%!important;
    
}
.modalBody select {
    width: 35%;
    background-color: #c7c7c7;
    outline: 1px solid #787878;
    border: 1px solid #929292;
}

.modalBody p {
    text-align: left;
}

.modalBody .arrayObject {
    font-weight: bold;
}

.modalBody button {    /*Reset button styling*/
    padding: 2px 8px;
    margin-left: 3px;

    color: #11375c;
    background-color: #c7c7c7;

    font-weight: bold;

    border-radius: 5px;
}
.modalBody button:hover {
    color: #c7c7c7;
    background-color: #11375c;
}

/* Handle valid state appearence*/
.valid {
    outline: 1px solid #787878;
    border: 1px solid #929292;
}
.valid:focus {
    outline: 1px solid #333333;
}

/* Handle invalid state appearence*/
.invalid {
    outline: 1px solid #ec314a;
    border: 1px solid #ec314a;
}
.invalid:focus {
    outline: 1px solid #ec314a;
    border: 1px solid #333333;
}

/* Handles how disabled information is viewed*/
.valid:disabled, .invalid:disabled, input:disabled {
    outline: none;
    border: none;

    color: #787878;
}

/* Create space for displayed error message/handle the error message*/
.emptyLabel {
    color: transparent;
    font-size: small;
}
.errorMessage {
    color: #ec314a;
    font-size: small;
}
.passwordRequirements {
    color: #787878;
    font-size: small;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
#roleInformation {
    padding-left: 12px;
    font-weight: bolder;
    font-size: large;
    margin: 0;
}
#userSelect{
    display: flex;
    justify-content: flex-start;
    align-items: center;


}
.PendingUserNotification{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#PendingIcon{
    color: #ec314a;
    padding-left: 1px;
}
/* Have select dropdowns side by side*/
.sideBySide {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    

    margin-top: 10px;
}
.userRole {
    margin-right: 13px;
}

/*Primary handles the button styling of Modal*/
.modalFooter {
    padding-bottom: 10px;
    padding-top: 10px;
    
    background-color: #b3b3b3;
    text-align: center;
}
.modalFooter button, input[type=submit] {
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;

    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;

    /* background-color: #F1F1F1; */
    background-color: #c5cadc;
    color: black;

    /*Removing User agent Stylesheet inserts*/
    border-style: none;
    border-color: transparent;
    
}
.modalFooter button:disabled, input[type=submit]:disabled {
    background-color: #b3b3b3;
    color: #787878;
}
.modalFooter button:hover, input[type=submit]:hover {
    color: #11375c;
    background-color: #929292;
}

/* Login */
#modalBody_Password, #modalBody_Username {
    padding: 10px;
}