/*
  Table Navigation are the available tables the user can display on screen
*/
#Table_Navigation{
  padding: 10px;

  display: flex;
  justify-content:center;
  align-items: center;
}

/*Create seperation between table naviation*/
.item_styling{
  font-weight: bold;
}

#Table_Navigation button{
  padding: 5px;

  border: transparent;
  background-color: transparent;

  font-size: 17px;

  text-decoration: underline;
  text-underline-offset: 5px;
}

#Table_Navigation button:hover{
  border: none;
  border-radius: 3px;
  font-weight: bold;

  background-color: #fbfbfb;
  color: #3f4f8c;
}

/*
  Table_Body contains the table title, actions, and the table displayed
*/
#Table_Body{
  display: flex;
  justify-content: flex-start;
}
#Table_Body h3{
  margin: 0px;
}

#Table_Body button{
  margin: 5px;
  display: inline-block;

  background-color: transparent;
  border: transparent;
}
#Table_Body button:hover{
    font-weight: bold;
    color: #8b0000;

    text-decoration: underline;
    text-underline-offset: 5px;
}
#Table_Body button:disabled{
  color: #c5cadc;
  text-decoration: none;
}

#Table_Modification h3{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

#Table_Modification, .Edit_Controls{
  display: flex;
  /*justify-content: space-evenly;*/
  align-items: flex-start;
  flex-direction: column;
}

table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 10px;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 4px;
  max-width: 10%;
  word-wrap: break-word;
  max-width: 250px;
}

table tr:nth-child(even){background-color: #f1f1f1;}

table tr:hover {background-color: #c5cadc;}

table th, tfoot td {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #3f4f8c;
  color: white;
}