/*
  Table Navigation are the available tables the user can display on screen
*/
#Table_Navigation{
  padding: 10px;

  display: flex;
  justify-content:center;
  align-items: center;
}

/*Create seperation between table naviation*/
.item_styling{
  font-weight: bold;
  color: #c5cadc;
}

#Table_Navigation button{
  padding: 5px;

  border: transparent;
  background-color: transparent;
  color: #b3b3b3;

  font-size: 17px;
}
#Table_Navigation button:hover, .btnSelected{
  border: none;
  border-radius: 3px;
  font-weight: bold;

  /* background-color: #fbfbfb; */
  background-color: #c5cadc;
  color: #11375c;

  text-decoration: underline;
  text-underline-offset: 5px;
}

/*
  Table_Body contains the table title, actions, and the table displayed
*/
#Table_Body{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#Table_Body button{
  margin: 5px;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;

  border-color: black;
  border-width: thin;
  border-style: solid;
  border-radius: 5px;

  /* background-color: #F1F1F1; */
  background-color: #b3b3b3;
  color: black;
}
#Table_Body button:hover{
  font-weight: bold;
  color: #8b0000;
}
#Table_Body button:disabled{
  /* color: #c5cadc; */
  color: #787878;
  text-decoration: none;
  border:transparent;
  background-color: transparent;
}

#Table_Modification h3{
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

#Table_Modification{
  margin-top: 8px;
  display: flex;
  justify-content:center;
  align-items: center;
}

table{
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 10px;
}

table td, table th {
  /*border-collapse: collapse;
  border-bottom: 1px solid #ddd;*/
  border: 1px solid #3f4f8c;
  padding: 4px;
  max-width: 10%;
  word-wrap: break-word;
  max-width: 250px;
}
/*
table tr:nth-child(even){background-color: #f1f1f1;}
table tr:nth-child(odd){background-color: #fbfbfb;}*/
table tr:nth-child(even){background-color: #787878;}
table tr:nth-child(odd){background-color: #b3b3b3;}

table tr:hover {background-color: #c5cadc;}

table th, tfoot td {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #11375C;
  color: #b3b3b3;
}