/*
  Table Navigation are the available tables the user can display on screen
*/
#userControls {
  display: flex;
  justify-content:space-between;
  align-items: center;
}
#tableNavigation {
  padding: 10px;

  display: flex;
  justify-content:flex-start;
  align-items: center;
}

/*Create seperation between table naviation*/
.itemStyling {
  font-weight: bold;
  color: #b3b3b3;
}

#tableNavigation button {
  padding: 5px;

  border: transparent;
  background-color: transparent;
  color: #b3b3b3;

  font-size: 17px;
}
#tableNavigation button:hover, .btnSelected {
  border: none;
  border-radius: 3px;
  font-weight: bold;

  color: #787878;

  text-decoration: underline;
  text-underline-offset: 5px;
}

/*
  Table_Body contains the table title, actions, and the table displayed
*/
#tableBody {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#noContent {
  color: #787878;
}

#tableModification {
  display: flex;
  justify-content:center;
  align-items: center;

  background-color: transparent;
}
#tableModification button {
  padding: 5px 10px;
  margin: 5px 10px;

  font-size: 15px;
  font-weight: bold;
  color: #787878;
  
  border: none;
  background-color: transparent;
}
#tableModification button:hover, #tableModification button:disabled:hover {
  font-weight: bolder;
  color: #026c76;

  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #013e44;
  text-underline-offset: 3px;
}
#tableModification button:disabled {
  /* color: #c5cadc; */
  color: #222121;
  text-decoration: none;
  border:transparent;
  background-color: transparent;
}

table {
  margin: 0 auto;
  max-height: 450px;

  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
}
table thead {
  color: #b3b3b3;
  background-color: #013e44;
}
table td, table th {
  /* border-collapse: collapse;
  border-bottom: 1px solid #ddd;
  border: 1px solid #333; */
  border-right: 1px solid #828282;
 
  padding: 7px;
  padding-right: 15px;
  /*max-width: 150px;
  min-width: 150px;                 /* fixing shifting issue effecting Action taken and Content columns */

  word-wrap: break-word;
  text-align: left;
}
table th:first-child, table td:first-child {
  border-left: 1px solid #828282;
}
table th {
  position: sticky;
  top: 0;

  border-top: 1px solid #828282;
  border-bottom: 1px solid #828282;
  border-left: 1px solid #828282;

  background-color: #013e44;
}

/*
table tr:nth-child(even){background-color: #f1f1f1;}
table tr:nth-child(odd){background-color: #fbfbfb;}*/
table tr:nth-child(even) {
  background-color: #787878;
}
table tr:nth-child(odd) {
  background-color: #929292;
}
.dataRow:hover {
  background-color: #a8f5feb6;
}

/* Styling the scroll bar when visible*/
table::-webkit-scrollbar {
  background-color: transparent;
}

table::-webkit-scrollbar-thumb {
  background-color: #5f5f5f;
  
  background-clip: padding-box;
  border: 0.05em solid #5f5f5f;
}
/* Buttons on Scrollbar*/
::-webkit-scrollbar-button:single-button {
  background-color: transparent;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #5f5f5f transparent;
}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #5f5f5f transparent transparent transparent;
}
::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
}
/* Inactive */
table::-webkit-scrollbar-thumb:window-inactive, ::-webkit-scrollbar-button:single-button:window-inactive {
  background-color: transparent;
  border: transparent;
}

/* Pagination stying*/
.pagination {
  padding: 0.5rem;
  color: #11375c;
  background-color: #b3b3b3;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#leftPagination{
  display: flex;
  align-items: center;
}
#leftPagination input[type=number]{
  width: 45px;
  height: auto;
  margin-left: 5px;

  background-color: #c7c7c7;
  outline: 1px solid #11375c;
  border: 1px solid #929292;
}

#centerPagination{
  display: flex;
  align-items: center;
}
#centerPagination button{
  font-weight: bold;
  color: #787878;
  padding: 5px;
  margin: 0;

  background-color: transparent;
  border-color: transparent;
  outline:transparent;
}
#centerPagination button:hover{
  color: #013e44;
  background-color: #787878;

  border-radius: 10px;
}
#centerPagination button:disabled{
  color: #787878;
  background-color: transparent;
}
#centerPagination span{
  margin-left: 10px;
  margin-right: 10px;
}

#rightPagination{
  width: auto;
  margin-left: 25.5px;
  margin-right: 25.5px;

  background-color: #c7c7c7;
  outline: 1px solid #787878;
  border: 1px solid #929292;
}